force-app/main/default/flows/Caso_transicion_estado_En_espera_Interno_Envio_correo_Supervisor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Recordatorio_Caso_en_espera</name>
        <label>Recordatorio Caso en espera</label>
        <locationX>463</locationX>
        <locationY>528</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>listaEmailSupervisores</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Caso en estado En espera</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CuerpoMail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>asignarEmailSupervisores</name>
        <label>asignarEmailSupervisores</label>
        <locationX>161</locationX>
        <locationY>784</locationY>
        <assignmentItems>
            <assignToReference>listaEmailSupervisores</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopSupervisoresEmail.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopSupervisoresEmail</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>get_Profile_Id_Supervisor_is_null</name>
        <label>get Profile Id Supervisor is null</label>
        <locationX>297</locationX>
        <locationY>145</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getProfileIdSupervisor</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getSupervisores</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>get_Supervisores_is_null</name>
        <label>get Supervisores is null</label>
        <locationX>152</locationX>
        <locationY>310</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_supervisor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getSupervisores</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopSupervisoresEmail</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_casos_en_espera_interna_para_recordar</name>
        <label>Hay casos en espera interna para recordar?</label>
        <locationX>631</locationX>
        <locationY>281</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En espera</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Estado_En_espera__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Interno</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pasaron_10_dias__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getProfileIdSupervisor</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Caso transición estado En espera Interno_Envio correo Supervisor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Caso transición estado En espera Interno_Envio correo Supervisor</label>
    <loops>
        <name>loopSupervisoresEmail</name>
        <label>loopSupervisoresEmail</label>
        <locationX>164</locationX>
        <locationY>533</locationY>
        <collectionReference>getSupervisores</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asignarEmailSupervisores</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Recordatorio_Caso_en_espera</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getProfileIdSupervisor</name>
        <label>getProfileIdSupervisor</label>
        <locationX>428</locationX>
        <locationY>280</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Profile_Id_Supervisor_is_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supervisor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSupervisores</name>
        <label>getSupervisores</label>
        <locationX>159</locationX>
        <locationY>144</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Supervisores_is_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getProfileIdSupervisor.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>511</locationX>
        <locationY>2</locationY>
        <connector>
            <targetReference>Hay_casos_en_espera_interna_para_recordar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En espera</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado_En_espera__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Interno</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pasaron_10_dias__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-07-22</startDate>
            <startTime>08:03:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CuerpoMail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hola {!$Record.Owner:User.Name}!&lt;/p&gt;&lt;p&gt;El caso {!$Record.CaseNumber} continua en &lt;strong&gt;En espera, &lt;/strong&gt;a la espera de:&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!$Record.Ultima_informacion_faltante_interna__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Por favor de haber obtenido la información faltante actualizar el estado del mismo.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Si desea ver el caso &lt;a href=&quot;https://ouvacdepourense--sandcarlos.sandbox.lightning.force.com/lightning/r/Case/{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click aquí&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Muchas gracias!&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>listaEmailSupervisores</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
