force-app/main/default/flows/Caso_transicion_estado_En_espera_Interno_Envio_correo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Recordatorio_Caso_en_espera</name>
        <label>Recordatorio Caso en espera</label>
        <locationX>633</locationX>
        <locationY>704</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>For_Obtener_casos_En_espera_interna</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>For_Obtener_casos_En_espera_interna.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Caso en estado En espera</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CuerpoMail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Hay_casos_en_espera_interna_para_recordar</name>
        <label>Hay casos en espera interna para recordar?</label>
        <locationX>580</locationX>
        <locationY>441</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_casos_En_espera_interna</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_Obtener_casos_En_espera_interna</targetReference>
            </connector>
            <label>Si</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_casos_En_espera_interna</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pasaron_7_dias</name>
        <label>Pasaron 7 dias?</label>
        <locationX>433</locationX>
        <locationY>702</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_7_dias</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pasaron7dias</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_Obtener_casos_En_espera_interna.Fecha_hora_cambio_de_estado_old__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recordatorio_Caso_en_espera</targetReference>
            </connector>
            <label>Si</label>
        </rules>
        <rules>
            <name>No_7_dias</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pasaron7dias</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_Obtener_casos_En_espera_interna.Fecha_hora_cambio_de_estado_old__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Pasaron7dias</name>
        <dataType>Boolean</dataType>
        <expression>MOD(TODAY() - DATEVALUE({!For_Obtener_casos_En_espera_interna.Fecha_hora_cambio_de_estado__c}), 7) ==0</expression>
    </formulas>
    <interviewLabel>Caso transición estado En espera Interno_Envio correo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Caso transición estado En espera Interno_Envio correo</label>
    <loops>
        <name>For_Obtener_casos_En_espera_interna</name>
        <label>For Obtener casos En espera interna</label>
        <locationX>450</locationX>
        <locationY>504</locationY>
        <collectionReference>Obtener_casos_En_espera_interna</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Pasaron_7_dias</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_casos_En_espera_interna</name>
        <label>Obtener casos En espera interna</label>
        <locationX>584</locationX>
        <locationY>286</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hay_casos_en_espera_interna_para_recordar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En espera</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado_En_espera__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Interno</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>458</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Obtener_casos_En_espera_interna</targetReference>
        </connector>
        <object>Case</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-06-07</startDate>
            <startTime>02:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CuerpoMail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hola {!For_Obtener_casos_En_espera_interna.Owner:User.Name}!&lt;/p&gt;&lt;p&gt;El caso {!For_Obtener_casos_En_espera_interna.CaseNumber} continua en estado &lt;strong&gt;En espera&lt;/strong&gt;. Por favor de haber obtenido la informacion faltante actualizar el estado del mismo.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Si desea ver el caso &lt;a href=&quot;https://ouvacdepourense--sandcarlos.sandbox.lightning.force.com/lightning/r/Case/{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click aquí&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Muchas gracias!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
