force-app/main/default/flows/Caso_transicion_estado_Finalizado_Cerrado.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Asignar_Estado_Cerrado</name>
        <label>Asignar Estado Cerrado</label>
        <locationX>985</locationX>
        <locationY>365</locationY>
        <assignmentItems>
            <assignToReference>For_Obtener_Casos_Finalizados.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cerrado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>For_Obtener_Casos_Finalizados.Fecha_hora_cambio_de_estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Obtener_Casos_Finalizados</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Hay_casos_para_Cerrar</name>
        <label>Hay casos para Cerrar?</label>
        <locationX>578</locationX>
        <locationY>469</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Casos_Finalizados</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_Obtener_Casos_Finalizados</targetReference>
            </connector>
            <label>Si</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Casos_Finalizados</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FechaHace7Dias</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} - 7</expression>
    </formulas>
    <interviewLabel>Caso transición estado Finalizado Cerrado {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Caso transición estado Finalizado Cerrado</label>
    <loops>
        <name>For_Obtener_Casos_Finalizados</name>
        <label>For Obtener Casos Finalizados</label>
        <locationX>802</locationX>
        <locationY>365</locationY>
        <collectionReference>Obtener_Casos_Finalizados</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_Estado_Cerrado</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualizar_estado_Finalizado_Cerrado</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_Casos_Finalizados</name>
        <label>Obtener Casos Finalizados</label>
        <locationX>584</locationX>
        <locationY>300</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hay_casos_para_Cerrar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Finalizado</stringValue>
            </value>
        </filters>
        <filters>
            <field>Fecha_hora_cambio_de_estado_old__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>FechaHace7Dias</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_estado_Finalizado_Cerrado</name>
        <label>Actualizar estado Finalizado_Cerrado</label>
        <locationX>797</locationX>
        <locationY>543</locationY>
        <inputReference>Obtener_Casos_Finalizados</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Obtener_Casos_Finalizados</targetReference>
        </connector>
        <object>Case</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-06-07</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
