force-app/main/default/flows/Caso_transicion_estado_En_Progreso_Finalizado.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <choices>
        <name>NoResuelto</name>
        <choiceText>No resuelto</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>Resuelto</name>
        <choiceText>Resuelto</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <decisions>
        <name>Resuelto_si_o_no</name>
        <label>Resuelto si o no?</label>
        <locationX>405</locationX>
        <locationY>421</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Resuelto_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Resuelto</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_estado_petici_n_Finalizada</targetReference>
            </connector>
            <label>Resuelto</label>
        </rules>
        <rules>
            <name>No_resuelto_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoResuelto</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_estado_caso_finalizado_no_resuelto</targetReference>
            </connector>
            <label>No resuelto</label>
        </rules>
    </decisions>
    <description>Flujo de transición de estado del caso de En progreso a Finalizado</description>
    <dynamicChoiceSets>
        <name>Ambitos</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Ambitos__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Entidades</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Entidades__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>FechaHoraActual</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <name>FechaHoraAjustada</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!$Flow.CurrentDateTime} + (2/24)))</expression>
    </formulas>
    <formulas>
        <name>FechaHoraFormateada</name>
        <dataType>String</dataType>
        <expression>LEFT(TEXT({!FechaHoraAjustada}), LEN(TEXT({!FechaHoraAjustada})) - 1)</expression>
    </formulas>
    <formulas>
        <name>NoResolucionConcatenacion</name>
        <dataType>String</dataType>
        <expression>&apos;Caso no resuelto &apos;&amp;{!FechaHoraFormateada}&amp;&apos; : &apos;&amp; {!Resolucion}&amp;&apos; - &apos;&amp; {!Obtener_casos.Motivo_no_resolucion__c}</expression>
    </formulas>
    <formulas>
        <name>ResolucionConcatenacion</name>
        <dataType>String</dataType>
        <expression>&apos;Resolución del caso &apos;&amp;{!FechaHoraFormateada}&amp;&apos; : &apos;&amp; {!Resolucion}&amp;&apos; - &apos;&amp; {!Obtener_casos.Motivo_Resolucion__c}</expression>
    </formulas>
    <interviewLabel>Caso transición estado En Progreso_Finalizado {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Caso transición estado En Progreso_Finalizado</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Obtener_casos</name>
        <label>Obtener casos</label>
        <locationX>355</locationX>
        <locationY>187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Resolucion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_estado_caso_finalizado_no_resuelto</name>
        <label>Actualizar estado caso finalizado no resuelto</label>
        <locationX>600</locationX>
        <locationY>493</locationY>
        <connector>
            <targetReference>Ventana_estado_actualizado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estado_finalizado__c</field>
            <value>
                <stringValue>No resuelto</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_hora_cambio_de_estado__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motivo_no_resolucion__c</field>
            <value>
                <elementReference>NoResolucionConcatenacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Finalizado</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_estado_petici_n_Finalizada</name>
        <label>Actualizar estado petición Finalizada</label>
        <locationX>607</locationX>
        <locationY>331</locationY>
        <connector>
            <targetReference>Ventana_estado_actualizado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ambitos__c</field>
            <value>
                <elementReference>AmbitoPicklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entidades__c</field>
            <value>
                <elementReference>EntidadPicklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado_finalizado__c</field>
            <value>
                <stringValue>Resuelto</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_hora_cambio_de_estado__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motivo_Resolucion__c</field>
            <value>
                <elementReference>ResolucionConcatenacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Finalizado</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Screen_Resolucion</name>
        <label>Screen Resolución</label>
        <locationX>232</locationX>
        <locationY>416</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Resuelto_si_o_no</targetReference>
        </connector>
        <fields>
            <name>LblResolucion</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Seleccione&amp;nbsp;si pudo aportar una resolución final al caso:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BtnsFinalizado</name>
            <choiceReferences>Resuelto</choiceReferences>
            <choiceReferences>NoResuelto</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Finalizado</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Resolucion</name>
            <dataType>String</dataType>
            <fieldText>Descripción</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Screen_Resolucion_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Resolucion_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LblClasificacion</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Indique la clasificación del caso:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>EntidadPicklist</name>
            <choiceReferences>Entidades</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Obtener_casos.Entidades__c</elementReference>
            </defaultValue>
            <fieldText>Entidades</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AmbitoPicklist</name>
            <choiceReferences>Ambitos</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Obtener_casos.Ambitos__c</elementReference>
            </defaultValue>
            <fieldText>Ámbitos</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ventana_estado_actualizado</name>
        <label>Ventana estado actualizado</label>
        <locationX>783</locationX>
        <locationY>423</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MsjEstadoActualizado</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;El caso se ha actualizado correctamente.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Obtener_casos</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
