force-app/main/default/flows/Caso_transicion_estado_En_espera_ciudadano_finalizado.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Asignar_Estado_Finalizado</name>
        <label>Asignar Estado Finalizado</label>
        <locationX>417</locationX>
        <locationY>745</locationY>
        <assignmentItems>
            <assignToReference>For_Obtener_casos_En_Espera_ciudadano.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Finalizado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>For_Obtener_casos_En_Espera_ciudadano.Fecha_hora_cambio_de_estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Obtener_casos_En_Espera_ciudadano</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Hay_casos_para_Finalizar</name>
        <label>Hay casos para Finalizar?</label>
        <locationX>578</locationX>
        <locationY>547</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_casos_En_espera_ciudadano</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_Obtener_casos_En_Espera_ciudadano</targetReference>
            </connector>
            <label>Si</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_casos_En_espera_ciudadano</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FechaHace7Dias</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} - 7</expression>
    </formulas>
    <interviewLabel>Caso transición estado En espera ciudadano finalizado {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Caso transición estado En espera ciudadano finalizado</label>
    <loops>
        <name>For_Obtener_casos_En_Espera_ciudadano</name>
        <label>For Obtener casos En Espera ciudadano</label>
        <locationX>416</locationX>
        <locationY>541</locationY>
        <collectionReference>Obtener_casos_En_espera_ciudadano</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_Estado_Finalizado</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualizar_estado_En_espera_ciudadano_Finalizado</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_casos_En_espera_ciudadano</name>
        <label>Obtener casos En espera ciudadano</label>
        <locationX>587</locationX>
        <locationY>298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hay_casos_para_Finalizar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En espera</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado_En_espera__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ciudadano</stringValue>
            </value>
        </filters>
        <filters>
            <field>Fecha_hora_cambio_de_estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FechaHace7Dias</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_estado_En_espera_ciudadano_Finalizado</name>
        <label>Actualizar estado En espera ciudadano_Finalizado</label>
        <locationX>223</locationX>
        <locationY>544</locationY>
        <inputReference>Obtener_casos_En_espera_ciudadano</inputReference>
    </recordUpdates>
    <start>
        <locationX>462</locationX>
        <locationY>19</locationY>
        <connector>
            <targetReference>Obtener_casos_En_espera_ciudadano</targetReference>
        </connector>
        <object>Case</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-06-07</startDate>
            <startTime>00:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
