force-app/main/default/flows/Caso_transicion_estado_Abierto_Pendiente.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Asignar_Email_a_Apellido</name>
        <label>Asignar Email a Apellido</label>
        <locationX>866</locationX>
        <locationY>881</locationY>
        <assignmentItems>
            <assignToReference>NombreCompleto.lastName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_contacto_ciudadano</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Telefono_a_Apellido</name>
        <label>Asignar Telefono a Apellido</label>
        <locationX>1281</locationX>
        <locationY>987</locationY>
        <assignmentItems>
            <assignToReference>NombreCompleto.lastName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Telefono.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_contacto_ciudadano</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Apellido_vacio</name>
        <label>Apellido vacio</label>
        <locationX>739</locationX>
        <locationY>727</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Apellido_Vacio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NombreCompleto.lastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Campo_a_rellenar_en_Apellido</targetReference>
            </connector>
            <label>Si</label>
        </rules>
        <rules>
            <name>No_Apellido_Vacio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NombreCompleto.lastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_contacto_ciudadano</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Campo_a_rellenar_en_Apellido</name>
        <label>Campo a rellenar en Apellido</label>
        <locationX>1101</locationX>
        <locationY>816</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rellenar_con_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email.value</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Email_a_Apellido</targetReference>
            </connector>
            <label>Rellenar con Email</label>
        </rules>
        <rules>
            <name>Rellenar_con_Telefono</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Telefono.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Telefono_a_Apellido</targetReference>
            </connector>
            <label>Rellenar con Telefono</label>
        </rules>
        <rules>
            <name>Email_y_telefono_no_vacios</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email.value</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Telefono.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Email_a_Apellido</targetReference>
            </connector>
            <label>Email y telefono no vacios</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ciudadano_identificado</name>
        <label>Ciudadano identificado</label>
        <locationX>574</locationX>
        <locationY>409</locationY>
        <defaultConnector>
            <targetReference>Verifque_la_informacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Caso.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Caso.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Caso.ContactMobile</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Caso.ContactPhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_estado_caso_Pendiente_con_contact_asociado</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ingreso_Datos_ciudadano</name>
        <label>Ingreso Datos ciudadano?</label>
        <locationX>735</locationX>
        <locationY>574</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Datos</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Email.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Telefono.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apellido_vacio</targetReference>
            </connector>
            <label>Si</label>
        </rules>
        <rules>
            <name>No_Datos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Telefono.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <description>Flujo de transición de estado del caso de Abierta a Pendiente. Validando que el caso tenga al menos 1 dato de contacto.</description>
    <environments>Default</environments>
    <interviewLabel>Caso transición estado Abierto_Pendiente {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Caso transición estado Abierto_Pendiente</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crear_contacto_ciudadano</name>
        <label>Crear contacto ciudadano</label>
        <locationX>484</locationX>
        <locationY>1007</locationY>
        <assignRecordIdToReference>contactId</assignRecordIdToReference>
        <connector>
            <targetReference>Actualizar_estado_caso_Pendiente</targetReference>
        </connector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>NombreCompleto.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>NombreCompleto.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Telefono.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>Obtener_Caso</name>
        <label>Obtener Caso</label>
        <locationX>584</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ciudadano_identificado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_estado_caso_Pendiente</name>
        <label>Actualizar estado caso Pendiente</label>
        <locationX>298</locationX>
        <locationY>626</locationY>
        <connector>
            <targetReference>Ventana_estado_actualizado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_hora_cambio_de_estado__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_estado_caso_Pendiente_con_contact_asociado</name>
        <label>Actualizar estado caso Pendiente con contact asociado</label>
        <locationX>384</locationX>
        <locationY>393</locationY>
        <connector>
            <targetReference>Ventana_estado_actualizado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Obtener_Caso.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_hora_cambio_de_estado__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Ventana_estado_actualizado</name>
        <label>Ventana estado actualizado</label>
        <locationX>156</locationX>
        <locationY>412</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MsjEstadoActualizado</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;El estado del caso se ha actualizado correctamente.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Verifque_la_informacion</name>
        <label>Verifque la informacion</label>
        <locationX>767</locationX>
        <locationY>414</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Ingreso_Datos_ciudadano</targetReference>
        </connector>
        <fields>
            <name>MsjError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(254, 6, 6);&quot;&gt;Para poder cambiar el estado del caso a En espera, el cliente debe estar identificado. De lo contrario el caso debe ser finalizado.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Verifque_la_informacion_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Verifque_la_informacion_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>LblDatosCiudadano</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Ingrese los datos del ciudadano:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NombreCompleto</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Verifque_la_informacion_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Verifque_la_informacion_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>LblMsjContacto</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;*El ciudadano debe estar identificado con al menos un correo electrónico o un número de contacto&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Email.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Telefono.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Telefono</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 5, 5);&quot;&gt;*El numero telefónico debe contener entre 9 y 11 dígitos.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(
   OR(
       NOT(ISBLANK({!Telefono.value})),
       NOT(ISBLANK({!Email.value}))
   ),
   OR(
       ISBLANK({!Telefono.value}),
       AND(
           LEN({!Telefono.value}) &gt;= 9,
           LEN({!Telefono.value}) &lt;= 12,
           REGEX({!Telefono.value}, &quot;^\\+?[0-9]*$&quot;)
       )
   )
)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 5, 5);&quot;&gt;*Por favor verifique el formato del correo electrónico.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(
   OR(
       NOT(ISBLANK({!Telefono.value})),
       NOT(ISBLANK({!Email.value}))
   ),
   OR(
       ISBLANK({!Email.value}),
       AND(
         REGEX({!Email.value},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)
       )
   )
)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Obtener_Caso</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
