force-app/main/default/flows/Caso_transicion_estado_Finalizado_Pendiente.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Ciudadano_identificado</name>
        <label>Ciudadano identificado</label>
        <locationX>143</locationX>
        <locationY>199</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Identificado_si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Casos.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_motivo</targetReference>
            </connector>
            <label>Identificado si</label>
        </rules>
        <rules>
            <name>Identificado_no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Casos.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_motivo_0</targetReference>
            </connector>
            <label>Identificado no</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FechaHoraActual</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <name>FechaHoraAjustada</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!$Flow.CurrentDateTime} + (2/24)))</expression>
    </formulas>
    <formulas>
        <name>FechaHoraFormateada</name>
        <dataType>String</dataType>
        <expression>LEFT(TEXT({!FechaHoraAjustada}), LEN(TEXT({!FechaHoraAjustada})) - 1)</expression>
    </formulas>
    <formulas>
        <name>MotivoReapertura</name>
        <dataType>String</dataType>
        <expression>&apos;Reapertura del caso &apos;&amp;{!FechaHoraFormateada}&amp;&apos;: &apos;&amp; {!Motivo}&amp;&apos; - &apos;&amp; {!Obtener_Casos.Motivo_reapertura_caso__c}</expression>
    </formulas>
    <interviewLabel>Caso transición estado Finalizado_Pendiente {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Caso transición estado Finalizado_Pendiente</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Obtener_Casos</name>
        <label>Obtener Casos</label>
        <locationX>199</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ciudadano_identificado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_estado_caso_Pendiente</name>
        <label>Actualizar estado caso Pendiente</label>
        <locationX>581</locationX>
        <locationY>221</locationY>
        <connector>
            <targetReference>Ventana_estado_actualizado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fecha_hora_cambio_de_estado__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motivo_reapertura_caso__c</field>
            <value>
                <elementReference>MotivoReapertura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Screen_motivo</name>
        <label>Screen motivo</label>
        <locationX>356</locationX>
        <locationY>170</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Actualizar_estado_caso_Pendiente</targetReference>
        </connector>
        <fields>
            <name>LblMotivo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Indique el motivo de la reapertura del caso&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Motivo</name>
            <dataType>String</dataType>
            <fieldText>Motivo:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_motivo_0</name>
        <label>Screen motivo</label>
        <locationX>192</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>LblCiudadanoNoIdentificado</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(244, 5, 5); font-size: 14px;&quot;&gt;El caso no puede ser reabierto ya que el mismo no cuenta con datos del ciudadano.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(244, 5, 5);&quot;&gt;Por favor abra un caso nuevo.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ventana_estado_actualizado</name>
        <label>Ventana estado actualizado</label>
        <locationX>584</locationX>
        <locationY>406</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MsjEstadoActualizado</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;El estado del caso se ha actualizado correctamente.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Obtener_Casos</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
