force-app/main/default/flows/Clasificacion_Caso_en_estados_En_Progreso_En_espera.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Cambio_la_clasificacion</name>
        <label>Cambió la clasificación?</label>
        <locationX>454</locationX>
        <locationY>744</locationY>
        <defaultConnector>
            <targetReference>Ventana_caso_no_actualizado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No cambió</defaultConnectorLabel>
        <rules>
            <name>Si_cambi_todas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_caso.Ambitos__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>AmbitoPicklist</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_caso.Entidades__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>EntidadPicklist</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_caso.Ayuntamientos__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>AyuntamientoPicklist</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_clasificacion_del_caso</targetReference>
            </connector>
            <label>Si cambió todas</label>
        </rules>
        <rules>
            <name>Si_cambio_Entidad1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_caso.Entidades__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>EntidadPicklist</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_clasificacion_del_caso</targetReference>
            </connector>
            <label>Si cambió Entidad 1</label>
        </rules>
        <rules>
            <name>Si_cambio_Entidad_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_caso.Ayuntamientos__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>AyuntamientoPicklist</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_clasificacion_del_caso</targetReference>
            </connector>
            <label>Si cambió Entidad 2</label>
        </rules>
        <rules>
            <name>Si_cambio_Ambito</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_caso.Ambitos__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>AmbitoPicklist</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_clasificacion_del_caso</targetReference>
            </connector>
            <label>Si cambió Ámbito</label>
        </rules>
    </decisions>
    <decisions>
        <name>Estado</name>
        <label>Estado</label>
        <locationX>522</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>LblMsjError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>En_progreso_o_En_espera</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_caso.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En progreso</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_caso.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En espera</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ventana_clasificacion</targetReference>
            </connector>
            <label>En progreso o En espera</label>
        </rules>
    </decisions>
    <description>Flow que permite la clasificacion del caso cuando el mismo se encuentra en estado En progreso o En espera (Interna o Ciudadana)</description>
    <dynamicChoiceSets>
        <name>Ambitos</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Ambitos__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Ayuntamientos</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Ayuntamientos__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Entidades</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Entidades__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Clasificación Caso en estados En Progreso En espera {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clasificación Caso en estados En Progreso En espera</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Obtener_caso</name>
        <label>Obtener caso</label>
        <locationX>584</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Estado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_clasificacion_del_caso</name>
        <label>Actualizar clasificación del caso</label>
        <locationX>319</locationX>
        <locationY>912</locationY>
        <connector>
            <targetReference>Ventana_caso_actualizado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ambitos__c</field>
            <value>
                <elementReference>AmbitoPicklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ayuntamientos__c</field>
            <value>
                <elementReference>AyuntamientoPicklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entidades__c</field>
            <value>
                <elementReference>EntidadPicklist</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>LblMsjError</name>
        <label>LblMsjError</label>
        <locationX>802</locationX>
        <locationY>381</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>LblMsjError_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>LblMsjError_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>TxtError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(235, 6, 41);&quot;&gt;El caso no puede ser clasificado. Para ello el mismo debe estar en estado En progreso, En espera interno o En espera ciudadano.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ventana_caso_actualizado</name>
        <label>Ventana caso actualizado</label>
        <locationX>629</locationX>
        <locationY>917</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Ventana_caso_actualizado_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Ventana_caso_actualizado_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>LblMsjActualizado</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;El caso ha sido clasificado correctamente.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ventana_caso_no_actualizado</name>
        <label>Ventana caso no actualizado</label>
        <locationX>730</locationX>
        <locationY>760</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Ventana_caso_no_actualizado_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Ventana_caso_no_actualizado_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>LblMsjActualizado_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;El caso no ha sido actualizado, ya que no se modificó ni el ámbito ni la entidad.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ventana_clasificacion</name>
        <label>Ventana clasificación</label>
        <locationX>464</locationX>
        <locationY>587</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Cambio_la_clasificacion</targetReference>
        </connector>
        <fields>
            <name>LblMensaje</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Seleccione la entidad y ámbito correspondiente:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EntidadPicklist</name>
            <choiceReferences>Entidades</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Obtener_caso.Entidades__c</elementReference>
            </defaultValue>
            <fieldText>Entidad 1</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AyuntamientoPicklist</name>
            <choiceReferences>Ayuntamientos</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Entidad 2</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>EntidadPicklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Ayuntamientos</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AmbitoPicklist</name>
            <choiceReferences>Ambitos</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Obtener_caso.Ambitos__c</elementReference>
            </defaultValue>
            <fieldText>Ambitos</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Obtener_caso</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
