force-app/main/default/flows/Flow_transicion_estados_casos_nuevos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>asigno_mail_al_lastname</name>
        <label>asigno mail al lastname</label>
        <locationX>1663</locationX>
        <locationY>926</locationY>
        <assignmentItems>
            <assignToReference>contactLastname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>phone</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SuppliedPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mobilePhone</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SuppliedPhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_new_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asigno_mail_al_lastname_0</name>
        <label>asigno mail al lastname</label>
        <locationX>757</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>contactLastname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>phone</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SuppliedPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mobilePhone</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SuppliedPhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_new_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asigno_name_a_lastname</name>
        <label>asigno name a lastname</label>
        <locationX>1651</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>contactLastname</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SuppliedName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>phone</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SuppliedPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mobilePhone</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SuppliedPhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_new_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asigno_name_a_lastname_0</name>
        <label>asigno name a lastname</label>
        <locationX>934</locationX>
        <locationY>943</locationY>
        <assignmentItems>
            <assignToReference>contactLastname</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SuppliedName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>phone</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SuppliedPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mobilePhone</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SuppliedPhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_new_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asigno_name_a_lastname_0_0</name>
        <label>asigno name a lastname</label>
        <locationX>322</locationX>
        <locationY>773</locationY>
        <assignmentItems>
            <assignToReference>contactLastname</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SuppliedName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_new_contact_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asignophoneallastname</name>
        <label>asigno phone al lastname</label>
        <locationX>620</locationX>
        <locationY>939</locationY>
        <assignmentItems>
            <assignToReference>contactLastname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SuppliedPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>phone</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SuppliedPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mobilePhone</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SuppliedPhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_new_contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Disparador_de_caso</name>
        <label>Disparador de caso</label>
        <locationX>1073</locationX>
        <locationY>322</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Nueva</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Caso_nuevo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Origen_del_caso</targetReference>
            </connector>
            <label>Nueva</label>
        </rules>
    </decisions>
    <decisions>
        <name>existe_ciudadano</name>
        <label>existe ciudadano?</label>
        <locationX>1378</locationX>
        <locationY>567</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>siexisteciudadano</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_caso_estado_Pendiente_y_asignar_contacto</targetReference>
            </connector>
            <label>si existe ciudadano</label>
        </rules>
        <rules>
            <name>no_existe_ciudadano</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ha_rellenado_el_name</targetReference>
            </connector>
            <label>no existe ciudadano</label>
        </rules>
    </decisions>
    <decisions>
        <name>existe_ciudadano_0</name>
        <label>existe ciudadano?</label>
        <locationX>231</locationX>
        <locationY>544</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>siexisteciudadano_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>si existe ciudadano</label>
        </rules>
        <rules>
            <name>no_existe_ciudadano_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>no existe ciudadano</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ha_rellenado_el_name</name>
        <label>Ha rellenado el name?</label>
        <locationX>1382</locationX>
        <locationY>790</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si_ha_rellenado_name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asigno_name_a_lastname</targetReference>
            </connector>
            <label>si ha rellenado name</label>
        </rules>
        <rules>
            <name>no_ha_rellenado_name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asigno_mail_al_lastname</targetReference>
            </connector>
            <label>no ha rellenado name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Origen_del_caso</name>
        <label>Origen del caso</label>
        <locationX>855</locationX>
        <locationY>319</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mail2Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>que_info_tengo_0</targetReference>
            </connector>
            <label>Mail2Case</label>
        </rules>
        <rules>
            <name>Web2Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>que_info_tengo</targetReference>
            </connector>
            <label>Web2Case</label>
        </rules>
        <rules>
            <name>Agente_telefonico</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_caso_estado_En_progreso</targetReference>
            </connector>
            <label>Agente telefonico</label>
        </rules>
        <rules>
            <name>Agente_presencial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Presencial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_caso_estado_En_progreso</targetReference>
            </connector>
            <label>Agente presencial</label>
        </rules>
        <rules>
            <name>Bot_chat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chat</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_caso_estado_En_progreso</targetReference>
            </connector>
            <label>Bot chat</label>
        </rules>
        <rules>
            <name>Bot_Asistente_virtual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asistente virtual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_caso_estado_Abierto</targetReference>
            </connector>
            <label>Bot Asistente virtual</label>
        </rules>
    </decisions>
    <decisions>
        <name>que_info_tengo</name>
        <label>qué info tengo</label>
        <locationX>842</locationX>
        <locationY>558</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>tiene_mail_telefono</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedPhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>busco_ciudadano</targetReference>
            </connector>
            <label>tiene mail y telefono</label>
        </rules>
        <rules>
            <name>tiene_name</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedPhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asigno_name_a_lastname_0</targetReference>
            </connector>
            <label>tiene name</label>
        </rules>
        <rules>
            <name>notienenameperosimail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asigno_mail_al_lastname_0</targetReference>
            </connector>
            <label>no tiene name pero si mail</label>
        </rules>
        <rules>
            <name>no_tiene_name_pero_si_phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedPhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asignophoneallastname</targetReference>
            </connector>
            <label>no tiene name pero si phone</label>
        </rules>
    </decisions>
    <decisions>
        <name>que_info_tengo_0</name>
        <label>qué info tengo</label>
        <locationX>704</locationX>
        <locationY>562</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>tiene_mail_y_name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asigno_name_a_lastname_0_0</targetReference>
            </connector>
            <label>tiene mail y name</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Caso_nuevo</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Flow transición estados casos nuevos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow transición estados casos nuevos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_new_contact</name>
        <label>create new contact</label>
        <locationX>1832</locationX>
        <locationY>1183</locationY>
        <assignRecordIdToReference>contactId</assignRecordIdToReference>
        <connector>
            <targetReference>Actualizar_caso_estado_Pendiente_y_asignar_contacto</targetReference>
        </connector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>contactLastname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>phone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>create_new_contact_0</name>
        <label>create new contact</label>
        <locationX>149</locationX>
        <locationY>773</locationY>
        <assignRecordIdToReference>contactId</assignRecordIdToReference>
        <connector>
            <targetReference>Actualizar_caso_estado_Pendiente</targetReference>
        </connector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>contactLastname</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>busco_ciudadano</name>
        <label>busco ciudadano</label>
        <locationX>1192</locationX>
        <locationY>565</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>existe_ciudadano</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (1 AND 3)</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SuppliedPhone</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SuppliedPhone</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>contactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>busco_ciudadano_0</name>
        <label>busco ciudadano</label>
        <locationX>349</locationX>
        <locationY>537</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>existe_ciudadano_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>contactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_caso_estado_Abierto</name>
        <label>Actualizar caso estado Abierto</label>
        <locationX>463</locationX>
        <locationY>244</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Abierto</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Abierto</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_caso_estado_En_progreso</name>
        <label>Actualizar caso estado En progreso</label>
        <locationX>381</locationX>
        <locationY>383</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>En progreso</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>En progreso</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_caso_estado_Pendiente</name>
        <label>Actualizar caso estado Pendiente</label>
        <locationX>51</locationX>
        <locationY>564</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Ambitos__c</field>
            <value>
                <elementReference>ambito</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_caso_estado_Pendiente_y_asignar_contacto</name>
        <label>Actualizar caso estado Pendiente y asignar contacto</label>
        <locationX>1846</locationX>
        <locationY>555</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>923</locationX>
        <locationY>55</locationY>
        <connector>
            <targetReference>Disparador_de_caso</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ambito</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Otras</stringValue>
        </value>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactLastname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mobilePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
